<ion-header>
  <script src="/assets/browser/pdf.js"></script>
  <script src="/simple.js"></script>
  <ion-toolbar
    ><ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <span (click)="onClick()" slot="end" class="ion-margin">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      src="https://media.istockphoto.com/photos/judge-gavel-and-scale-in-court-legal-concept-picture-id1090431444?k=20&m=1090431444&s=612x612&w=0&h=by_YZG3Mc-wnqx9bSpsKYMKOJkzRDW-WPDfGq8M_Y-o="
    />
  </ion-card>
  <ion-searchbar ></ion-searchbar>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="categories">
          <ion-slide>
            <ion-card class="category" color="success" [routerLink]="['/tab2']" class="routes">
              <ion-card-header class="ion-text-center">
                <ion-icon name="cart-sharp"></ion-icon>
                <ion-card-title>Buy Properties</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="danger">
              <ion-card-header class="ion-text-center">
                <ion-icon name="newspaper-outline"></ion-icon>
                <ion-card-title>Sell Properties</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="primary">
              <ion-card-header class="ion-text-center">
                <ion-icon name="document-text-outline"></ion-icon>
                <ion-card-title>Books</ion-card-title>
                <ion-card-subtitle>Best Deals</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="warning">
              <ion-card-header class="ion-text-center">
                <ion-icon name="reader-outline"></ion-icon>
                <ion-card-title>Articles</ion-card-title>
                <ion-card-subtitle>Best Deals</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="tertiary">
              <ion-card-header class="ion-text-center">
                <ion-icon name="library-outline"></ion-icon>
                <ion-card-title>LFN</ion-card-title>
                <ion-card-subtitle>Best Deals</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="danger">
              <ion-card-header class="ion-text-center">
                <ion-icon src="assets/cookies.svg"></ion-icon>
                <ion-card-title>Dessert</ion-card-title>
                <ion-card-subtitle>Best Deals</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="category" color="secondary">
              <ion-card-header class="ion-text-center">
                <ion-icon src="assets/noodle.svg"></ion-icon>
                <ion-card-title>Noodle</ion-card-title>
                <ion-card-subtitle>Best Deals</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
